.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: #a6dcee;
}

.main {
  border: 2px solid #00040e;
  height: 500px;
  margin: 25px 30px;
  font-family: 'Brush Script MT', Trattatello;
  color: #5389a6;
}

.button-remove {
  height: 30px;
  width: 150px;
  border-radius: 3px;
  background-color: #e8ebea;
  color: #a6dcee;
  font-size: 25px;
  font-family: 'Brush Script MT', Trattatello;
  display: block;
  margin: 20px 20px;
}

a {
  text-decoration: none;
}

