.container {
  border: 1px solid #adadad;
  height: 350px;
  width: 300px;
  margin: 30px auto;
}

.styleImg {
  width: 100px;
  height: 100px;
}

.styleHeader {
  font-size: 25px;
  color: #8ac858;
  margin: 15px auto;
}

.styleButton {
  display: block;
  background-color: #8ac858;
  color: white;
  width: 255px;
  height: 35px;
  margin: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
}